.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
  background-color: #235390;
  background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
  overflow: auto;
}




